@model IEnumerable<HEManagement.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customer Listing</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UtilityAccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DecisionMakerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DecisionMakerPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteContactPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UtilityAccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DecisionMakerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DecisionMakerPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteContactPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerID })
        </td>
    </tr>
}

</table>
