@model HEManagement.Models.Survey

@{
    ViewBag.Title = "Survey Details";
}

<h2>Survey Details</h2>

<div>
    <h4>Site Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SurveyDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @ViewBag.CustomerName
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CeilingHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CeilingHeight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SurveyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@if (true)
{
    HEManagement.Models.SurveyItemExistingDBContext tmp = new HEManagement.Models.SurveyItemExistingDBContext();
    var a = tmp.SurveyItemExisting.Where(b => b.SurveyID == Model.SurveyID);
    Html.RenderPartial("~/Views/SurveyItemExistings/SurveyItems.cshtml", a);
}
@Html.ActionLink("Add Item", "Create", new RouteValueDictionary(new { controller = "SurveyItemExistings", action = "Create", SurveyID = Model.SurveyID }))