@model IEnumerable<HEManagement.Models.Survey>

@{
    ViewBag.Title = "Survey List ";
}

<h2>Survey List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SurveyDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CeilingHeight)
        </th>
        <th>
            Survey Items
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SurveyDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            @*@Html.DropDownListFor(M => M.MobileList, new SelectList(Model.MobileList, "Value", "Text"))*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CeilingHeight)
        </td>
        <td>
            @Html.Raw((new HEManagement.Models.SurveyItemExistingDBContext()).SurveyItemExisting.Where(m => m.SurveyID == item.SurveyID).Count().ToString())
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SurveyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SurveyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SurveyID })
        </td>
    </tr>
}

</table>
